.planPageHeader{
    background-color: #FAFAFA;
}

.divOpcArriba{
    display: flex;
    width: 360px;
    justify-content: space-between;
}




.divButtonAuto{
    display: flex;
}


.flexV{
    display: flex;
    flex-direction: column;
    flex:1;
    padding-left: 20px;
}

.flexH{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-between;
}

/* macros */
.divMacrosObtenidos{
    display: flex;
    justify-content: center;
   
    width: 370px;
    padding-right: 5px;
    margin-top: 15px;

    background-color:#D8D8D8;
    border: solid #D8D8D8;
    border-radius: 10px;
    gap: px;

}

.inputMacro{
    width: 70px;
    margin-left: 7px;
    background-color: #D8D8D8;
    border: none;
    font-weight: 500;
    
}

.macroName{
    font-size: 13px;
}


.macroItem{
    display: flex;
    align-items: center;
    width: 80px;
}


.divBuscadorAlimentos{
    margin-top: 15px;
}

.buscadorAlimentos{
    border: none;
    height: 35px;
    width: 350px;
    padding-left: 10px;
}





.divListaAlimentos{
    margin-top: 20px;
}

.divNombrePlato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.textNombrePlato{
    font-size: 23px;
    margin-bottom: 10px;
    margin-left: 20px;
}




/* .user-select-none {
    user-select: none;
  } */

/* BOTON AUTO */

.divButtonAuto{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.autoText{
    font-size: 12px;
   
}

.checkBtn{
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: white;
    border: solid 1px black;
}

.checked{
    background-color: rgb(152, 189, 173);
}

.textPlanName{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 22px;
}


/* LISTA BUSQUEDA */


.divBusquedaComida{
    display: flex;
    flex-direction: column;
    width: 360px;
    gap:10px;

    margin-top: 30px;
    padding-top: 7px;
    padding-bottom: 7px;


    background-color: #DAEAE4;
    border-radius: 8px;
    
}


.itemBusquedaComida{
  
    position: relative;
    display: flex;
    gap: 10px;
    height: 50px;
    width: 400px;
    padding-left: 10px;
}

.textAmountItemBusqueda{
    position: absolute;
    margin-left: 280px;
    font-size: 12px;
    font-weight: 300;
}

.textMacrosItemBusqueda{
    
    position: absolute;
    margin-top:25px ;
    font-size: 13px;
    font-weight: 300;
}



/* LISTA SELECCIONADOS */

.divListaSeleccionados{
    
    display: flex;
    flex-direction: column;
    width: 360px;
    gap:10px;

    margin-top: 30px;
    padding-top: 7px;
    padding-bottom: 7px;


    background-color: #DAEAE4;
    border-radius: 8px;

}

.divItemSeleccionado{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-left: 30px;
    position: relative;

}
.amountInput{
    width: 60px ;
    font-size: 15px;
    position: absolute;
    margin-left: 180px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.foodType{
    position: absolute;
    margin-left: 245px;
    font-size: 15px;
}

.divTrashIcon{
    position: relative;;
}

.trashIcon{
    font-size: 17px;
}



/* NAV BAR DAY  */
.divDayNavBar{

    background-color:#FAFAFA ;
    display: flex;
    width: calc(100vw - 220px);
    align-items: flex-start;
    margin-top: 30px;
    padding-left: 20px;

}

.dayBarItem{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 200px;
    cursor: pointer;

    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 

}
.dayBarItemInside{
    display: flex;
    align-items: center;
    position: relative;
}

.dayName{
    margin-top: 3px;
    font-size: 16px;
}

.dayBayPencil{
    position: relative;
    margin-left: 40px;
    font-size: 12px;
}

.dayBarTrash{
    position: absolute;
    margin-left: 60px;
    font-size: 12px;
}

.daySelected{
    
    background-color: #E3EFEF;
}

.divMeals{
    display: flex; 
    flex-direction: column;
    gap: 100px;
}


.divMealBottom{
    margin-top: 20px;
    display: flex;
    align-items: center
    
}
.mealTrashButton{
    position: absolute
}

.lineaFinMeal{
    margin-top: 4px;
    width: 380px;
}

.buttonAggPlato{
    margin-left: 10px;
    display: flex;
    height: 22px;
    width: 22px;
    align-items: center;
    justify-content: center;

}



/* DOUGHNUT */
.macroDoughnut{
    margin-top: 10px;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
}



/* SELECTORES */

.divSelectorCard{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.divPacienteButton{
    position: relative;
    width: 280px;
}

.deleteButtonPacientes{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    z-index: 1000
        
}
.deleteButtonPacientes:hover{
    font-weight: bold;
}

.cardButton{
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
    height: 80px;
    width: 250px;
    background-color: #DAEAE4;

    font-size: 18px;
}


.plusSelectorButton{
  
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: #DAEAE4;
    font-size: 18px;

    cursor:pointer
}


/* PACIENTES LISTA */


.divPcienteInfo{
    display: flex;
}

.textoNombrePaciente{
    font-weight: 600;
}

.textoDeportePaciente{
    margin-top: 10px;
    font-size: 12px;
}

.textoOcupacionPaciente{
    margin-top: 3px;
    font-size: 12px;
}

/* PACIENTE MODAL*/
.divPacienteModal{

    display: flex;
    flex-direction: column;
    height: 600px;
    width: 800px;
    margin-left: -100px;
    background-color: #DAEAE4;
    border-radius: 10px;
    padding: 30px 30px;

}

.divOpcionesPaciente{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    gap: 20px;
}

.divOpcLinea{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.divTextOpcPaciente{
    display: flex;
    position: relative;
    gap: 10px;
}

.inputTextOpcPaciente,
.inputNumberOpcPaciente,
.inputTextLongOpcPaciente,
.inputDNIOpcPaciente,
.inputLittleNumberOpcPaciente {
  border: none;
  border-radius: 5px;
  height: 25px;
  padding-left: 10px;
}

.inputTextOpcPaciente {
  width: 180px;
}

.inputNumberOpcPaciente {
  width: 80px; 
}

.inputTextLongOpcPaciente{
    position: absolute;
    margin-left: 120px;
    width: 500px;
}

.inputDNIOpcPaciente{
    width: 110px;
}

.inputLittleNumberOpcPaciente{
    width: 50px;
}

.platosDiarios{
    margin-left: 50px;
}

.mt70{
    margin-top: 70px;
}


/*MODLA GENERAL */

.divFondoModal{
    position: fixed;
    top: 0;
    left: 200;
    display: flex;
    background-color:  rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: calc( 100vw - 200px);
    z-index: 1000;
    
    align-items: center;
    justify-content: center;
    
}

/* DELETE MODAL */



.divDeleteModal{

    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
    margin-left: -100px;
    margin-top: -200px;
    background-color: #DAEAE4;
    border-radius: 10px;
    padding: 30px 30px;

}

.DivBotonesDeleteModal{

    display: flex;
    margin-top: 100px;
    justify-content: space-around;

}

.button{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    
}

.button:hover{
    border: solid 0.5px black;
}

.deleteButton{
    background-color: #FAE2E2
    
}

.no-scroll {
    overflow: hidden;
}
